@use "../utils/index" as var;

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  border-radius: 0.5rem;
  color: #fff;
  background: var.$green;
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: 500;

  &-danger {
    background: var.$danger;
  }

  &:hover {
    background: var.$dark;
  }
}
