<section class="icons-container">
  <div class="icons">
    <i class="fas fa-plane"></i>
    <div class="content">
      <h3>Envio Gratis</h3>
      <p>order over 100$</p>
    </div>
  </div>
  <div class="icons">
    <i class="fas fa-redo-alt"></i>
    <div class="content">
      <h3>Facilidad de devolucion</h3>
      <p>10 de devolucion</p>
    </div>
  </div>
  <div class="icons">
    <i class="fas fa-lock"></i>
    <div class="content">
      <h3>Pago Seguro</h3>
      <p>Pago 100% seguro</p>
    </div>
  </div>
  <div class="icons">
    <i class="fas fa-headset"></i>
    <div class="content">
      <h3>Atencion 24/7</h3>
      <p>Llamanos en cualquier momento</p>
    </div>
  </div>
</section>
