@use "../utils//index" as var;

.cart {
  margin: 30px 10px;
  padding: 10px 50px;

  &__container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__item {
    width: 100%;
    display: flex;
    border: var.$border;

    &-title {
      font-size: 1.5rem;
      border-right: var.$border;
      padding: 0.5rem;
      width: 20%;
    }

    &-image {
      padding: 20px;
      width: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: var.$border;

      img {
        height: 140px;
        width: 110px;
      }
    }

    &-price {
      width: 15%;
      border-right: var.$border;
      font-size: 1.3rem;
      font-weight: 700;
    }

    &-quantity {
      width: 10%;
      border-right: var.$border;

      input {
        display: inline-block;
        width: 30px;
        text-align: center;
      }

      button {
        display: inline-block;
        width: 30px;
        height: 20px;
        border: var.$border;
      }
    }

    &-total {
      width: 20%;
      border-right: var.$border;
      span {
        color: var.$lightgreen;
        font-size: 1.6rem;
        font-weight: 600;
      }
    }

    &-actions {
      width: 20%;

      button {
        font-size: 1.3rem;
        margin-right: 5px;
      }
    }
  }

  &__summary {
    margin-top: 10px;
    border: var.$border;
    width: 100%;
    display: flex;
    font-size: 1.5rem;

    &-title {
      width: 80%;
      display: flex;
      align-items: center;
      padding: 3rem;
    }

    &-price {
      padding: 1rem;
    }
  }
}

@media (max-width: var.$phone) {
  .cart {
    &__item {
      width: 1000px;
    }

    &__container {
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
    }
  }
}
